{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/js/bootstrap.js">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/style.css">

    <title>Aibonitta</title>
</head>

<body>
    <div class="">
        <nav class="navbar navbar-expand bg-transparent container pt-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Aibonitta</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <!-- <li class="nav-item">
                            <a class="nav-link active" href="">Главная</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/galery">Галерея</a>
                        </li>
                        {# <li class="nav-item">#}
                            {# <a class="nav-link" href="/contacts">Контакты</a>#}
                            {# </li>#}
                        {# <li class="nav-item">#}
                            {# <a class="nav-link" href="#">О сайте</a>#}
                            {# </li>#}
                        <li class="nav-item">

                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <div class="container main">
        <img src="/static/img/logo.png" alt="" class="logo">
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Запись на сеанс</h5>

                </div>
                <div class="modal-body">
                    Вы можете записаться написав в одну из социальных сетей или мессенджер, или оставить заявку.

                    <form>
                        <div class="mb-3 mt-5">
                            <label for="exampleInputEmail1" class="form-label">Сылка на социальную сеть или
                                мессенджер</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">аккаунт должен быть открыт</div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-success">Отправить заявку</button>
                </div>
            </div>
        </div>
    </div>


    <div class="p-3 gallery bg-dark">
        <div class="container">
            <h1 class="text-center border-bottom gallery-txt pb-3">Готовые работы</h1>
            <div class="row pt-3 gy-3">
                {% for img in gallery_img %}
                <div class="col-lg-2 col-6">
                    <a href="/media/{{ img.image }}" data-fancybox="gallery">
                        <img src="/media/{{ img.image }}" alt="{{ img.name }}" class="gallery-img">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>



    <div class="series">
        <div class="container pb-4">
            <div class="row">
                <div class="col-12 service-txt mt-3 border-bottom">
                    <h1>Услуги</h1>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6"><img src="/static/img/icons8-дракон-50.png" alt="" class="service-img"></div>
                <div class="col-6"><img src="/static/img/icons8-тату-машина-50.png" alt="" class="service-img"></div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h2 class="service-txt">Зарисовка эскиза</h2>
                </div>
                <div class="col-6">
                    <h2 class="service-txt">Забив</h2>
                </div>
            </div>

        </div>
    </div>

    <div class="p-3 gallery bg-dark">
        <div class="container">
            <h1 class="text-center border-bottom gallery-txt pb-3">Свободные эскизы</h1>
            <div class="row pt-3 gy-3">
                {% for img in scetch_img %}
                <div class="col-lg-2 col-6">
                    <a href="media/{{ img.image }}" data-fancybox="gallery">
                        <img src="media/{{ img.image }}" alt="{{ img.name }}" class="scetch-img">
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <div class="description-master pt-3">
        <div class="container pb-5">
            <h1 class="text-center border-bottom pb-3">О мастере</h1>
            <div class="row gy-3">
                <div class="col-lg-4">
                    <img src="/static/img/bonnie-r.jpg" alt="" class="description-master-img">
                </div>
                <div class="col-lg-4">
                    <p>
                        Доброго времени суток, давай знакомиться.
                        Я мастер художественной татуировки
                        Меня зовут Анастасия-Бонита двойное имя.
                        С лет 17 загорелась татуировками, так же сама почти вся в них
                        Очень люблю, когда вы делитесь со мной интересными, идеями и мы их вместе воплощаем
                        Я обожаю хороший кофе и буду рада встретиться с тобой в нашей студии за чашечкой кофе, обсудить
                        твои идеи.
                    </p>
                </div>
                <div class="col-lg-4">
                    <img src="/static/img/bonnie-l.jpg" alt="" class="description-master-img">
                </div>
            </div>

            <!-- ABOUT -->
            <div>
                <div class="container mt-4 gy-3">
                    <div class="row text-center">
                        <div class="col"><a href=""><img src="/static/img/telegram.png" alt="" class="link"></a></div>
                        <div class="col"><a href=""><img src="/static/img/instagram.png" alt="" class="link"></a></div>
                        <div class="col-sm-4"><a href=""><img src="/static/img/vk.png" alt="" class="link"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="maps bg-dark pb-4">
        <div class="container">
            <div>
                <h1 class="text-center border-bottom gallery-txt pb-3 pt-5">Где мы находимся</h1>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d732.0507265475813!2d34.347044593279406!3d61.78472317684288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46a1ec47923d7645%3A0x47b86a727008b8a3!2z0L_RgC4g0JvQtdC90LjQvdCwLCAzNywg0J_QtdGC0YDQvtC30LDQstC-0LTRgdC6LCDQoNC10YHQvy4g0JrQsNGA0LXQu9C40Y8sIDE4NTAzNQ!5e0!3m2!1sru!2sru!4v1672027873841!5m2!1sru!2sru"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <ul>
                <li>Петрозаводск, проспект Ленина 37 (вход со двора)</li>
            </ul>
        </div>
    </div>
    </div>

    <div class="about mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <h3>Тату мастер</h3>
                    <ul>
                        <li>Анастасия Бонитта</li>
                        <li>Рабочий телефон: +79004636621</li>
                        <li>Telegram: @Aibonitta</li>
                        <li>Рабочий инстаграм: @aibonitta.tattoo</li>
                    </ul>
                </div>

                <div class="col">
                    <h3>Заказать сайт</h3>
                    <ul>
                        <li>
                            Telegram: @datamainer
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        Fancybox.bind('[data-fancybox="gallery"]', {
            caption: function (fancybox, carousel, slide) {
                return (
                    `${slide.index + 1} / ${carousel.slides.length} <br />` + slide.caption
                );
            },
        });
    </script>

</body>

</html>